@import "css/vars.scss";

.device-list {
  width: 1000px;
  margin: auto;
  //   background: lighten($--color-theme__bg, 10%);

  .header-fix {
    position: relative;

    .title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .btns {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .device-filter {
    display: flex;

    .filter__search {
      width: 50%;

      .el-input__inner:focus {
        border-color: $--color-theme__light;
      }

      .el-input-group__append {
        color: $--color-theme__info;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    .filter__register {
      flex: auto;
      padding-left: 1rem;

      .el-checkbox:before {
        content: " ";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }

      .el-checkbox {
        color: $--color-font__white;
      }

      .el-checkbox .el-checkbox__inner {
        margin-bottom: 2px;
      }
    }

    .filter__status {
      max-width: 140px;
    }
  }
}
