<html>
  <head>
    <title>设备资讯化</title>
  </head>
  <body>
    <div id="vue-entry">Vue Entry (if you see this, means your browser is too old. chrome is recommend!)</div>
    <div>Web site name: {{.Website}}</div>
    <div>Developer: {{.Name}}</div>
    <div>Email: {{.Email}}</div>
    <div>You have request this page {{ .freshCount }} times.</div>
    <script type="text/javascript" src="{{.path}}/js/babel-polyfill.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
  </body>
</html>
