<html>
  <head>
    <title>设备资讯化</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/app.css"/>
  </head>
  <body style="margin: 0">
    <div id="vue-entry">Vue Entry (if you see this, means your browser is too old. chrome is recommend!)</div>
    <script type="text/javascript" src="/js/babel-polyfill.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
