/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
.el-tag {
  background-color: #e6f6fe;
  border-color: #cdeefd;
  color: #03a9f4;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #03A9F4;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap; }
  .el-tag.is-hit {
    border-color: #03A9F4; }
  .el-tag .el-tag__close {
    color: #03a9f4; }
    .el-tag .el-tag__close:hover {
      color: #FFFFFF;
      background-color: #03a9f4; }
  .el-tag.el-tag--info {
    background-color: #f7f6fe;
    border-color: #eeecfc;
    color: #aca0f2; }
    .el-tag.el-tag--info.is-hit {
      border-color: #ACA0F2; }
    .el-tag.el-tag--info .el-tag__close {
      color: #aca0f2; }
      .el-tag.el-tag--info .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #aca0f2; }
  .el-tag.el-tag--success {
    background-color: #f4faef;
    border-color: #e9f4df;
    color: #8fc860; }
    .el-tag.el-tag--success.is-hit {
      border-color: #8FC860; }
    .el-tag.el-tag--success .el-tag__close {
      color: #8fc860; }
      .el-tag.el-tag--success .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #8fc860; }
  .el-tag.el-tag--warning {
    background-color: #fef6ea;
    border-color: #feecd6;
    color: #f9a230; }
    .el-tag.el-tag--warning.is-hit {
      border-color: #F9A230; }
    .el-tag.el-tag--warning .el-tag__close {
      color: #f9a230; }
      .el-tag.el-tag--warning .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #f9a230; }
  .el-tag.el-tag--danger {
    background-color: #fef0f0;
    border-color: #fce2e1;
    color: #f06d6b; }
    .el-tag.el-tag--danger.is-hit {
      border-color: #F06D6B; }
    .el-tag.el-tag--danger .el-tag__close {
      color: #f06d6b; }
      .el-tag.el-tag--danger .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #f06d6b; }
  .el-tag .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px; }
    .el-tag .el-icon-close::before {
      display: block; }
  .el-tag--dark {
    background-color: #03a9f4;
    border-color: #03a9f4;
    color: white; }
    .el-tag--dark.is-hit {
      border-color: #03A9F4; }
    .el-tag--dark .el-tag__close {
      color: white; }
      .el-tag--dark .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #35baf6; }
    .el-tag--dark.el-tag--info {
      background-color: #aca0f2;
      border-color: #aca0f2;
      color: white; }
      .el-tag--dark.el-tag--info.is-hit {
        border-color: #ACA0F2; }
      .el-tag--dark.el-tag--info .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #bdb3f5; }
    .el-tag--dark.el-tag--success {
      background-color: #8fc860;
      border-color: #8fc860;
      color: white; }
      .el-tag--dark.el-tag--success.is-hit {
        border-color: #8FC860; }
      .el-tag--dark.el-tag--success .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #a5d380; }
    .el-tag--dark.el-tag--warning {
      background-color: #f9a230;
      border-color: #f9a230;
      color: white; }
      .el-tag--dark.el-tag--warning.is-hit {
        border-color: #F9A230; }
      .el-tag--dark.el-tag--warning .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #fab559; }
    .el-tag--dark.el-tag--danger {
      background-color: #f06d6b;
      border-color: #f06d6b;
      color: white; }
      .el-tag--dark.el-tag--danger.is-hit {
        border-color: #F06D6B; }
      .el-tag--dark.el-tag--danger .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #f38a89; }
  .el-tag--plain {
    background-color: white;
    border-color: #9addfb;
    color: #03a9f4; }
    .el-tag--plain.is-hit {
      border-color: #03A9F4; }
    .el-tag--plain .el-tag__close {
      color: #03a9f4; }
      .el-tag--plain .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #03a9f4; }
    .el-tag--plain.el-tag--info {
      background-color: white;
      border-color: #ded9fa;
      color: #aca0f2; }
      .el-tag--plain.el-tag--info.is-hit {
        border-color: #ACA0F2; }
      .el-tag--plain.el-tag--info .el-tag__close {
        color: #aca0f2; }
        .el-tag--plain.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #aca0f2; }
    .el-tag--plain.el-tag--success {
      background-color: white;
      border-color: #d2e9bf;
      color: #8fc860; }
      .el-tag--plain.el-tag--success.is-hit {
        border-color: #8FC860; }
      .el-tag--plain.el-tag--success .el-tag__close {
        color: #8fc860; }
        .el-tag--plain.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #8fc860; }
    .el-tag--plain.el-tag--warning {
      background-color: white;
      border-color: #fddaac;
      color: #f9a230; }
      .el-tag--plain.el-tag--warning.is-hit {
        border-color: #F9A230; }
      .el-tag--plain.el-tag--warning .el-tag__close {
        color: #f9a230; }
        .el-tag--plain.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #f9a230; }
    .el-tag--plain.el-tag--danger {
      background-color: white;
      border-color: #f9c5c4;
      color: #f06d6b; }
      .el-tag--plain.el-tag--danger.is-hit {
        border-color: #F06D6B; }
      .el-tag--plain.el-tag--danger .el-tag__close {
        color: #f06d6b; }
        .el-tag--plain.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #f06d6b; }
  .el-tag--medium {
    height: 28px;
    line-height: 26px; }
    .el-tag--medium .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px; }
    .el-tag--small .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px; }
    .el-tag--mini .el-icon-close {
      margin-left: -3px;
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }
