@import "~css/vars.scss";
@import "~css/fonts/iconfont.css";

html,
body {
  height: 100%;
}

#app {
  height: 100%;
  overflow: auto;
  background: #f2f2f2;
  color: $--color-font__dark;
  font-size: 0.875rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $--color-theme__main;
  transition: all 0.5s linear;

  &:hover {
    color: lighten($color: $--color-theme__main, $amount: 20);
  }
}

.global-card {
  background: $--color-theme__white;
  box-shadow: $--shadow__base;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

.global-card .global-card__title {
  display: block;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  color: $--color-font__dark;
}
