$blue: #03a9f4;
$green: #8fc860;
$orange: #f9a230;
$red: #f06d6b;
$dark: #303133;
$gray: #606266;
$info: #aca0f2;
$light: #909399;
$silver: #c0c4cc;
$white: #ffffff;
$black: #000000;
$borderc1: #dcdfe6;
$borderc2: #e4e7ed;
$borderc3: #ebeef5;
$borderc4: #f2f6fc;

$--color-theme__main: $blue;
$--color-theme__success: $green;
$--color-theme__warning: $orange;
$--color-theme__danger: $red;
$--color-theme__info: $info;
$--color-theme__white: $white;
$--color-theme__black: $black;
$--color-theme__dark: $dark;
$--color-theme__gray: $gray;

$--color-font__white: $white;
$--color-font__dark: $dark;
$--color-font__gray: $gray;
$--color-font__light: $light;
$--color-font__silver: $silver;

$--color-border__0: rgba(0, 0, 0, 0.2);
$--color-border__1: $borderc1;
$--color-border__2: $borderc2;
$--color-border__3: $borderc3;
$--color-border__4: $borderc4;

$--header__height: 50px;
$--header__line_height: 50px;

$--shadow__base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
$--shadow__light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
