$blue:        #1A63AF;
$green:       #4F902F;
$orange:      #D68F26;
$red:         #DA1919;
$dark:        #303133;
$gray:        #606266;
$light:       #909399;
$silver:      #C0C4CC;
$white:       #FFFFFF;
$black:       #000000;
$borderc1:    #DCDFE6;
$borderc2:    #E4E7ED;
$borderc3:    #EBEEF5;
$borderc4:    #F2F6FC;


$--color-theme__main: $blue;
$--color-theme__success: $green;
$--color-theme__warning: $orange;
$--color-theme__danger: $red;
$--color-theme__info: $light;
$--color-theme__white: $white;
$--color-theme__black: $black;
$--color-font__dark: $dark;
$--color-font__gray: $gray;
$--color-font__light: $light;
$--color-font__silver: $silver;

$--color-border__1: $borderc1;
$--color-border__2: $borderc2;
$--color-border__3: $borderc3;
$--color-border__4: $borderc4;
