.page-home .notice-card {
  .notice-item {
    margin-bottom: 0.5rem;
    border-radius: 4px;
    padding: 4px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .notice-item__message {
    color: $--color-font__gray;
    font-size: 0.85rem;
    transition: color 0.3s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;

    &:hover {
      color: lighten($--color-theme__main, 20%);
    }
  }

  .notice-item__time {
    font-size: 0.75rem;
    color: $--color-font__light;
  }
}
