.com-header {
  z-index: 200;
  background: linear-gradient(
    141deg,
    $--color-theme__info 0%,
    darken($--color-theme__main, 10%) 50%,
    $--color-theme__info 100%
  );
  display: flex;
  height: $--header__height;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: $--shadow__global-card;
}

.com-header .com-header__left {
  flex: auto;
  max-width: 300px;

  &:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: "";
  }

  .menu-button {
    font-size: 29px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    line-height: $--header__line_height;
    width: $--header__line_height;
    text-align: center;
    background: $--color-theme__dark;
    color: $--color-theme__white;
    cursor: pointer;

    i.el-icon-s-unfold {
      line-height: 50px;
      transition: all 0.3s ease;

      &.transform-rotate {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: $--color-theme__warning;
    }
  }

  .title {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    color: $--color-font__dark;
    font-size: 22px;
    padding-left: 8px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);

    div:first-child {
      line-height: 22px;
      padding-top: 8px;
    }

    div:last-child {
      line-height: 16px;
      color: $--color-theme__gray;
      font-size: 16px;
      text-indent: 2px;
    }
  }
}

.com-header .com-header__center {
  flex: auto;

  &:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: "";
  }

  .el-input {
    max-width: 300px;
  }
}

.com-header .com-header__right {
  flex: auto;
  text-align: right;
  display: flex;

  &:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: "";
  }

  .topbar-entry {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 60px;
    padding: 5px 10px;
    margin-left: auto;

    .topbar-entry__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0px 0px 10px #5d6061;
    }

    .topbar-body {
      text-align: left;
      position: absolute;
      top: 50px;
      right: 0;
      width: 280px;
      padding-bottom: 0;
      visibility: hidden;
    }

    .topbar-body .topbar-body__header {
      padding: 0 1rem;
      cursor: auto;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid;
      margin-bottom: 0.5rem;

      * {
        vertical-align: middle;
        margin-right: 0.5rem;
      }

      .avatar {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #5d6061;
      }
    }

    .topbar-body .topbar-body__item {
      padding: 0 1rem;
      line-height: 2rem;

      i {
        font-size: 1rem;
        padding-right: 0.5rem;
        color: $--color-theme__warning;
        font-weight: bold;
      }

      &:hover {
        background: $--color-theme__light-black;

        .hover-show {
          visibility: initial;
        }
      }

      .hover-show {
        visibility: hidden;
        font-size: 0.8rem;
        color: $--color-font__silver;
        float: right;
      }
    }

    .topbar-body .topbar-body__footer {
      text-align: center;
      background: $--color-theme__gray;
      line-height: 2.5rem;
      margin-top: 0.5rem;
      border-bottom-left-radius: 4px;
      color: $--color-theme__warning;
      border-top: 1px solid $--color-font__light;

      &:hover {
        background: $--color-theme__dark;
      }
    }

    &:hover .topbar-body {
      visibility: initial;
    }
  }
}

@media only screen and (max-width: 680px) {
  .com-header .com-header__left {
    flex: unset;
    width: 160px;
  }

  .com-header .com-header__center {
    text-align: left;
    margin-left: 8px;
  }

  .com-header .com-header__right {
    padding: 0 4px;
    flex: unset;
  }
}

@media only screen and (max-width: 516px) {
  .com-header .com-header__left {
    width: 50px;

    .title {
      display: none;
    }
  }
}
