@import "../vars.scss";

.page-home .home-body {
  margin-top: 1.25rem;
  display: flex;
  flex-flow: wrap;
}

.page-home .home-left {
  flex: 3;
  min-width: 17.5rem;
  padding: 0 0.5rem;
}

.page-home .home-right {
  flex: 1;
  min-width: 17.5rem;
  padding: 0 0.5rem;
}

.page-home {
  padding: 1rem;

  .greeting-title {
    font-size: 2rem;
  }

  .greeting-message {
    font-size: 0.85rem;
    color: $--color-font__gray;
  }
}

.page-home .status-card {
  color: $--color-font__gray;

  .login-flex {
    display: flex;
    flex-flow: wrap;
  }

  .login-item {
    flex: 1;
    margin-bottom: 1rem;
    min-width: 17.5rem;
    padding-right: 0.5rem;
  }

  .login-item .item-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
    color: $--color-font__dark;
  }

  .login-item div {
    display: flex;
    flex-flow: wrap;

    span {
      flex: auto;
    }

    span:first-child {
      max-width: 100px;
    }
  }

  .contact-flex {
    display: flex;
    flex-flow: wrap;
  }

  .data-item {
    padding-bottom: 1rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .data-label {
    font-size: 0.75rem;
    color: $--color-font__dark;
    font-weight: bold;
    padding-right: 0.5rem;
  }

  .contact-item {
    flex: 1;
    cursor: pointer;
    min-width: 17.5rem;
    padding-bottom: 0.5rem;

    &:hover .show-edit-tip {
      opacity: 1;
    }
  }

  .contact-item i {
    font-weight: 600;
    color: $--color-theme__success;
    font-size: 1.25rem;
    vertical-align: middle;
  }

  .contact-item .data {
    padding-right: 1rem;
    line-height: 1.25rem;
    vertical-align: middle;
    transition: all 0.3s ease;

    &:hover {
      color: $--color-theme__info;
    }
  }

  .contact-item .show-edit-tip {
    opacity: 0;
    font-size: 0.75rem;
    color: $--color-font__light;
    transition: all 0.3s ease;
  }
}

@media only screen and (max-width: 38rem) {
  .page-home .home-left {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 32.25rem) {
  .page-home {
    padding: 1rem 0;
  }
}
